* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 1160px;
    text-align: center;
    margin: auto;
}

img {
    width: 100%;
}

.menu {
    background: #EE5A24;
    padding: 10px;
    color: #fff;
}

.content-area {
    background: #EA2027;
    color: white;
    padding: 28px;
    line-height: 2;
    margin-top: -4px;
}

.footer {
    background: #EE5A24;
    padding: 15px;
    color: #fff;
}

.footer-bottom {
    background: black;
    color: white;
    padding: 15px;
}